<h1 class="ps-center"><%= detail.name %></h1>
<br />
<h4 style="text-align: center;"><%= detail.description %></h4>
<p class="ps-text-grey" style="text-align: center; font-size: 18px;">
     U$S <%= detail.price %>
</p>
<br />