<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mi sitio</title>
</head>
<body>
    <header>
        <p>¡Mi sitio!</p>
        <nav>
            <ul>
                <li>
                    <a href="/peliculas/crear">Crear Película 🎬</a>
                </li>
                <li>
                    <a href="/peliculas">Ver Películas 🤓</a>
                </li>
            </ul>
        </nav>
    </header>
    
