<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="contenedor01">
        <h2>Soy el contenedor 01</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ducimus necessitatibus amet, quisquam quidem eveniet veritatis rerum suscipit ab soluta ea eum impedit veniam laudantium expedita sit at illo id!</p>
    </div>
    <div class="contenedor02">
        <h2>Soy el contenedor 02</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ducimus necessitatibus amet, quisquam quidem eveniet veritatis rerum suscipit ab soluta ea eum impedit veniam laudantium expedita sit at illo id!</p>
    </div>
</body>
</html>